@model IEnumerable<ApplicationUser>
@inject RoleManager<IdentityRole> roleManager
@using Microsoft.AspNetCore.Identity

<div class="row">
    <div class="table table-borderless table-striped col-9">
        <h1>所有用户</h1>
        <table>
            <thead>
                <tr>
                    <th scope="col">
                        邮箱地址
                    </th>
                    <th scope="col">
                        用户名
                    </th>
                    <th scope="col">
                        性别
                    </th>
                    <th scope="col">
                        发帖数
                    </th>
                    <th scope="col">
                        角色
                    </th>
                    <th scope="col">
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
                @inject IMessageRepository _messageRepository
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            <div class="text-center">
                                <a asp-controller="user" asp-action="UserDetails" asp-route-email="@item.Email">@item.ChineseName</a>
                            </div>
                        </td>
                        <td class="text-center">
                            @item.Gender.GetDisplayName()
                        </td>
                        <td>
                            @_messageRepository.GetMessagesOfUser(item).Count()
                        </td>
                        <td>
                            @await Component.InvokeAsync("_RolesInUser", new { id = item.Id })
                        </td>
                        <td>
                            @if (item.Email != User.Identity.Name)
                            {
                                <form method="post" asp-action="DeleteUser" asp-route-id="@item.Id">
                                    <span>
                                        <a asp-controller="admin" asp-action="ManageUserRoles" asp-route-userId="@item.Id" class="btn btn-primary">用户角色管理</a>
                                    </span>
                                    <span id="confirmDelete_@item.Id" style="display:none">
                                        <span>您确定要删除？</span>
                                        <button type="submit" class="btn btn-danger">是</button>
                                        <a href="#" class="btn btn-danger" onclick="confirmDelete('@item.Id ',false)">否</a>
                                    </span>
                                    <span id="deleteMessage_@item.Id">
                                        <a href="#" class="btn btn-danger" onclick="confirmDelete('@item.Id ',true)">删除</a>
                                    </span>
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="col-3">
        <h1>所有角色</h1>
        <table>
            <thead>
                <tr class="row">
                    <th class="col-3">
                        角色
                    </th>
                    <th class="col-9">
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in roleManager.Roles)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            <form method="post" asp-action="DeleteRole" asp-route-id="@item.Id">
                                <span id="confirmDelete_@item.Id" style="display:none">
                                    <span>您确定要删除？</span>
                                    <button type="submit" class="btn btn-danger">是</button>
                                    <a href="#" class="btn btn-danger" onclick="confirmDelete('@item.Id ',false)">否</a>
                                </span>
                                <span id="deleteMessage_@item.Id">
                                    <a href="#" class="btn btn-danger" onclick="confirmDelete('@item.Id ',true)">删除</a>
                                </span>
                            </form>

                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <a class="btn btn-primary" asp-controller="admin" asp-action="CreateRole">创建新角色</a>
    </div>
</div>

@section Scripts {
    <script src="~/js/CustomScript.js" asp-append-version="true"></script>
}