@model MessageIndexViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> _signInManager
@inject IPhotoRepository _photoRepository
@inject UserManager<ApplicationUser> _userManager
@{
    ViewBag.Title = "最新发布";

}
<br />
<br />
<div class="row">
    <div class="col-9">
        <h1>图客列表</h1>
        <form asp-action="Index" method="get">
            <input type="hidden" asp-for="@Model.Gender" />
            <input type="hidden" asp-for="@Model.CurrentPage=1" />
            <input type="hidden" asp-for="@Model.PageCount" />
            <p>
                请输入
                <input type="text" asp-for="@Model.SearchString" />
                <input type="submit" value="查询" />
                <a asp-action="Index">返回所有列表</a>
                ||
                <a asp-action="Index" asp-route-Sorting="@Model.Sorting" asp-route-searchString="@Model.SearchString"
                   asp-route-CurrentPage="@Model.CurrentPage" asp-route-Gender="@GenderEnum.female">只看女</a>
                ||
                <a asp-action="Index" asp-route-Sorting="@Model.Sorting" asp-route-searchString="@Model.SearchString"
                   asp-route-CurrentPage="@Model.CurrentPage" asp-route-Gender="@GenderEnum.male">只看男</a>
            </p>
        </form>
        <div class="table table-borderless table-striped">
            <table>
                <thead>
                    <tr>
                        <th scope="col">头像</th>

                        <th scope="col">
                            作者
                        </th>
                        <th scope="col">标题</th>
                        <th scope="col">
                            <a class="pl-3" asp-action="Index" asp-route-Sorting="Date" asp-route-searchString="@Model.SearchString"
                               asp-route-CurrentPage="@Model.CurrentPage" asp-route-Gender="@Model.Gender">发布时间</a>
                            <a class="pl-3" asp-action="Index" asp-route-Sorting="Date_Desc" asp-route-searchString="@Model.SearchString"
                               asp-route-CurrentPage="@Model.CurrentPage" asp-route-Gender="@Model.Gender">降序</a>
                        </th>
                        @if (User.IsInRole("站长"))
                        {
                            <th scope="col">操作</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Messages)
                    {
                        <tr>
                            <td>
                                @{
                                    ApplicationUser user = await _userManager.FindByIdAsync(
                                        item.ApplicationUserId);
                                }
                                <img src="~/images/Icons/@user.IconPath" width="50" />
                            </td>
                            <td>
                                <div class="text-center">
                                    <a asp-controller="user" asp-action="UserDetails" asp-route-email="@user.Email">@user.ChineseName</a> 
                                </div>
                            </td>
                            <td>
                                <a asp-action="single" asp-controller="home" asp-route-id="@item.Id">@item.Title</a> 
                            </td>
                            <td>
                                @item.PublishTime
                            </td>
                            <td>
                                @if (User.IsInRole("admin"))
                                {
                                    <form method="post" asp-action="delete" asp-route-id="@item.Id">
                                        <span id="confirmDelete_@item.Id" style="display:none">
                                            <span>您确定要删除？</span>
                                            <button type="submit" class="btn btn-danger">是</button>
                                            <a href="#" class="btn btn-danger" onclick="confirmDelete('@item.Id ',false)">否</a>
                                        </span>
                                        <span id="deleteMessage_@item.Id">
                                            <a href="#" class="btn btn-danger" onclick="confirmDelete('@item.Id ',true)">删除</a>
                                        </span>
                                    </form>
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div>
            <ul class="pagination">
                <li class="page-item @(!Model.ShowFirst?"disabled":"") ">
                    <a asp-action="Index" asp-route-Sorting="@Model.Sorting" asp-route-searchString="@Model.SearchString"
                       asp-route-CurrentPage="1" asp-route-Gender="@Model.Gender" class="page-link">
                        首页
                    </a>
                </li>
                <li class="page-item @(!Model.ShowPrevious?"disabled":"") ">
                    <a asp-action="Index" asp-route-Sorting="@Model.Sorting" asp-route-searchString="@Model.SearchString"
                       asp-route-CurrentPage="@(Model.CurrentPage-1)" asp-route-Gender="@Model.Gender" class="page-link">
                        上一页
                    </a>
                </li>
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i==Model.CurrentPage?"active":"")">
                        <a asp-action="Index" asp-route-Sorting="@Model.Sorting" asp-route-searchString="@Model.SearchString"
                           asp-route-CurrentPage="@i" asp-route-Gender="@Model.Gender" class="page-link">
                           第 @i 页
                        </a>
                    </li>
                }
                <li class="page-item @(!Model.ShowNext?"disabled":"") ">
                    <a asp-action="Index" asp-route-Sorting="@Model.Sorting" asp-route-searchString="@Model.SearchString"
                       asp-route-CurrentPage="@(Model.CurrentPage+1)" asp-route-Gender="@Model.Gender" class="page-link">
                        下一页
                    </a>
                </li>
                <li class="page-item @(!Model.ShowLast?"disabled":"") ">
                    <a asp-action="Index" asp-route-Sorting="@Model.Sorting" asp-route-searchString="@Model.SearchString"
                       asp-route-CurrentPage="@Model.TotalPages" asp-route-Gender="@Model.Gender" class="page-link">
                        尾页
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-header text-center">网站管理员</div>
            <div class="card-body text-center row">
                <img src="~/images/我的头像.jpg" class="col-sm-12" />
            </div>
            <div class="card-footer text-left">
                <p>
                    此网站是本人在学习web开发时，用来练习各项技能所创建。网站服务器是在腾讯云上购买的，带宽和云盘都是最便宜的，所以加载图片时会有点慢。如果你有幸来到此网站，
                    欢迎使用，但无需推广。
                </p>
            </div>
        </div>
        <div>
            
            <div>热门用户</div>
            @await Component.InvokeAsync("_HotUsers", new { topN = 10})
        </div>
    </div>
</div>
@section Scripts{
    <script src="/js/CustomScript.js" asp-append-version="true"></script>
}
